{% extends "layout.html" %}
{% block body %}
<div class="col-sm-offset-1 col-sm-10">
{{item.title}}
</div>

<div class="col-sm-offset-1 col-sm-10">
<h3>Reproduce steps:</h3>
{{item.reproduce_steps}}
</div>

<div class="col-sm-offset-1 col-sm-10">
<h3>CRs:</h3>
{{item.crs}}
</div>

<div class="col-sm-offset-1 col-sm-10">
<h3>Jiras:</h3>
{{item.jiras}}
</div>

<div class="col-sm-offset-1 col-sm-10">
<h3>Analysis:</h3>
{{item.log_analysis}}
</div>
<div class="col-sm-offset-1 col-sm-10">
<h3>Solution:</h3>
{{item.solution_desc}}
</div>

<div class="col-sm-offset-1 col-sm-10">
<h3>Gerrits:</h3>
{{item.gerrits}}
</div>

<form action="{{url_for(".item_del",id=item.id)}}" method="post" class="form-horizontal">
<div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
</div>

</form>

{% endblock %}
